  {{ with .Site.Params.ga_api_key }}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ . }}', 'auto');
    ga('send', 'pageview');
  </script>
  {{ end }}

  <script type="text/javascript">
    (function(e,t){var n=e.rakam||{};var r=t.createElement("script");r.type="text/javascript";
      r.async=true;r.src="https://cdn.rakam.io/sdk/rakam.min.js";r.onload=function(){
        e.rakam.runQueuedFunctions()};var o=t.getElementsByTagName("script")[0];o.parentNode.insertBefore(r,o);
      function a(e,t){e[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
        return this}}var s=function(){this._q=[];return this};var i=["set","setOnce","increment","unset"];
      for(var c=0;c<i.length;c++){a(s.prototype,i[c])}n.User=s;n._q=[];var u=["init","logEvent","logInlinedEvent","setUserId","getUserId","getDeviceId","setSuperProperties","setOptOut","setVersionName","setDomain","setUserProperties","setDeviceId","onload","onEvent","startTimer", "resetTimer"];
      for(var l=0;l<u.length;l++){a(n,u[l])}var m=["getTimeOnPreviousPage","getTimeOnPage","isReturningUser"];
      var v=(e.console?e.console.error||e.console.log:null)||function(){};var d=function(e){
        return function(){v("The method rakam."+e+"() must be called inside rakam.init callback function!");
        }};for(l=0;l<m.length;l++){n[m[l]]=d(m[l])}e.rakam=n})(window,document);

    rakam.init("s41crm9fcr199379e2qpkl8fedv2p2tlnl7g4egsoqh0885b8k3j0na352t91bvq", null, {
    apiEndpoint:"rakam-trial-webapp-1979847320.us-east-1.aws.getrakam.com",
    includeUtm: true,
    trackClicks: true,
    trackForms: true,
    includeReferrer: true
}, function() {
    var e = document.documentElement, g = document.getElementsByTagName('body')[0],
            x = window.innerWidth || e.clientWidth || g.clientWidth,
            y = window.innerHeight|| e.clientHeight|| g.clientHeight;

    rakam.logEvent("pageview", {url: window.location.pathname, time_on_page: rakam.getTimeOnPreviousPage(), returning_session: rakam.isReturningUser(), color_depth: window.screen.colorDepth, viewport: x + ' × ' + y, title: document.title});
      rakam.startTimer(true);

 });

rakam.setSuperProperties({platform: 'Web', _ip: true, _user_agent:true, _referrer:document.referrer, resolution: window.screen.width+" × "+window.screen.height}, true);
</script>
